html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
nav img {
    height: 50px;
    width: 50px;
}
nav a {
    text-decoration: none;
}
/* SLIDER */
.ban {
    background-image: url("img/slider/slide1.jpg");
}
/* Presentation */ 
.glogo{
    height: 20%;
    width: 20%;
}